silkbeauty.ge {
	encode gzip zstd

	header {
		Strict-Transport-Security "max-age=63072000; includeSubDomains; preload"
		X-Frame-Options DENY
		X-Content-Type-Options nosniff
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	reverse_proxy localhost:3000 {
		header_up Host {host}
		header_up X-Forwarded-For {remote_host}
		header_up X-Forwarded-Proto {scheme}
		header_up X-Real-IP {remote_host}
		health_uri /api
		health_interval 30s
	}
}

www.silkbeauty.ge {
	redir https://silkbeauty.ge{uri} permanent
}
